@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#titulo{
font-family: "Playwrite RO", cursive;
text-align: center;
font-size: 40px;
background-color: #87CEEB;
}
#container{
	display: flex;
	flex-wrap: wrap;
}
.cont1{
	background: #b92b27;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 40%;
	margin:32px 32px 32px 32px ;
	padding: 32px 16px 32px 16px;
	border-radius: 16px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

}
img{
	border-radius: 20px;
}
h2{
	font-family: "Bebas Neue", sans-serif;
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	margin: 16px;
	padding: 8px;
	height: 95%;
	text-align: right;

}